body {
    background-color: #FEFAE0;
    color: #606C38;
    font-family: 'Source Serif Pro', serif;
}
p {
    text-align: center;    
}
.navigation a {
    color: #703602;
    text-decoration: none;
    padding: 5px 5px;
    display: block;
    font-size: 2em;
}
.navigation #navLinks {
    display: none;
}
h1 {
    color: #BC6C25;
    text-align: center;
    font-size: 3em;
    text-shadow: -1px 1px 1px #703602;
    padding-top: .6em;
}
.menu {
    background: black;
    position: absolute;
    left: 4px;
    top: 4px;
    width: 50px;
    height: 50px;
    border: 1px solid #BC6C25;  
}
.vegetable {
    max-width: 100px;
    display: inline-block;

}
#contact {
    color: #606C38;
}